<html>
  <head>
    <title>The Gossip edit</title>
  </head>
  <body>
    <h1>Voici la page du potin n° <%= pition[1] %> </h1>
    
    <h3>
          <%= pition[0].name %>
          <%= pition[0].text %>
  </h3>
  <a href="/">retour</a>
  </body>
</html>